.btn-xs {
  font-size: 10px;
  padding: 1px 10px
}

#network {
  position:relative;
  width: 100%;
  height: 400px;
  border: 1px solid lightgray;
}

#list-paths {
  text-align: left;
}

table.legend_table {
  font-size: 11px;
  border-width:1px;
  border-color:#d3d3d3;
  border-style:solid;
}
table.legend_table,td {
  border-width:1px;
  border-color:#d3d3d3;
  border-style:solid;
  padding: 2px;
}
div.table_content {
  width:80px;
  text-align:center;
}
div.table_description {
  width: 100px;
}

#operation {
  font-size: 28px;
}
.network-popup {
  display: none;
  position: absolute;
  padding: 10px;
  /* top: 200px; */
  /* left: 200px; */
  z-index: 299;

  width: 300px;
  height: 200px;

  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #5394ed;

  text-align: center;
  color: #2b7ce9;
}

.vis-manipulation, .vis-edit-mode {
  color: #2b7ce9;
}
